*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: 'Cabin Sketch', Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin: 0.6em 0 0.3em;
  text-shadow: 1px 1px #e47b6f, 2px 2px #fff, 3px 3px #111125;
  filter: drop-shadow(2px 3px 2px #6a7c92);
}

button {
  width: 100%;
  border: 2px solid #828a95;
  border-radius: 0.312em;
  margin-bottom: 0.75em;
  font-family: 'Nunito';
  font-size: 1.05rem;
  padding: 0.75em;
  font-family: 'Cabin Sketch', Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  background-color: #191944;
  color: #fff;
  box-shadow: 1px 2px 2px #6a7c92, 1px 2px 3px #bdcada,
    1px 2px 4px #d1dae6;
  transition: all 60ms ease-out;
}

button:hover,
button:focus {
  background-color: #f5bd8a;
  color: #111125;
  border: 2px solid #111125;
  box-shadow: inset 0 0 3px #c07b3b, inset 0 0 2px #c07b3b,
    1px 2px 2px #6a7c92, 1px 2px 3px #bdcada, 1px 2px 4px #d1dae6;
}

button:active {
  box-shadow: 0 1px 2px #6a7c92;
  transform: translateY(0.08rem);
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.8rem;
    margin-bottom: 0.75em;
  }

  button {
    padding: 1.5em;
    width: 30%;
  }
}
